@import url('https://fonts.googleapis.com/css?family=Raleway:300,700&display=swap');

$body-ff: Raleway, sans-serif;

$bg-color: #b07cf7;
$primary-color: #f72b3b;
$secondary-color: #fff;
$body-color: $secondary-color;

