@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $bg-body;  
    @include font($body-ff, 1.3rem, $body-color, 300, 1.6);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

h2 {
    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 100%;
}

.col--1-4 {
    flex-basis: 31%;
    max-width: 370px;
}

.section {
    padding: 7% 0;
    line-height: 1.5;
    &--blog {
        background-color: $blog-color;
        
        &__link {
            margin-top: 6%;
            text-align: center;
        }
    }

    &__head {
        margin-bottom: 50px;
        max-width: 570px;
        margin: 0 auto 50px;
        text-align: center;

        &--white {
            color: $secondary-color;
        }
    }

    &__title {
        margin: 0 0 50px;
    }

    &__subtitle {
        font-size: 1.7rem;
    }
}

.recipe {
    color: $secondary-color;
    position: relative;
    width: 100%;
    padding-top: 85%;
    overflow: hidden;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    @include tr;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.7);
    }

    &:hover &__img {
        transform: translate(-50%, -50%) scale(1.2);
    }

    &:hover &__title {
        @include transform(0, -180%);
        width: 55%;  
    }

    &:hover &__attributes {
        @include transform(85%, 0);
        width: 50%;
    }

    &:hover &__data {
        @include transform(400%, 0);
        box-shadow: inset 0 0 7px 3px rgba(255,255,255,.7);
    }

    @media (max-width: 1150px) {
        &:hover &__data, &:hover &__title, &:hover &__attributes {
            transform: none;
        }
    }

    @media (max-width: 1150px) {
        &__title {
            width: auto;
        }
    }

    &__link {
        display: inline-block;
        @include posA(0, 0);
        @include full;
        padding: 30px 20px 20px;
        overflow: hidden;
        @include tr;

        &:before { 
            content: '';
            @include posA(0, 0);
            z-index: 2;
            @include full;
            background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.9) 100%);
        }
    }

    &:hover &__link:before {
        z-index: 2;
        background-image: radial-gradient(at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, rgba(0,0,0,9) 100%);
    }

    &__img {
        @include full;
        @include posA;
        @include transform;
        z-index: 1;
        object-fit: cover;
        @include tr;
    }

    &__data {
        display: inline-block;
        width: 65px;
        height: 65px;
        text-align: center;
        padding: .2em .3em;
        background-color: rgba(38,38,38,0.5);
        border-radius: 5px;
        @include font($fz: 3.2rem, $fw: 700, $lh: .8);
        @include posA(11%, 5.5%);
        z-index: 3;
        overflow: hidden;
        @include tr;
    }

    &__month {
        display: inline-block;
        font-size: 2.1rem;
        text-transform: uppercase;
        overflow: hidden;
        line-height: 1;
        width: 100%;
    }

    &__title {
        @include posA(auto, 6%);
        z-index: 3;
        bottom: 12%;
        right: 6%;
        @include font($fz: 2rem, $fw: 700, $lh: 1.25);
        max-height: 150px;
        overflow: hidden;
        @include tr;
    }

    &__attributes {
        @include posA(auto, 6%);
        z-index: 3;
        bottom: 6%;
        right: 6%;
        font-style: normal;
        overflow: hidden;
        max-height: 40px;
        width: 100%;
        @include tr;
    }

    &__author:not(:empty) + &__time:not(:empty):before {
        content: ' - ';
    }
}

.btn {
    display: inline-block;
    @include font($fz: 2rem, $lh: 1.25);
    text-transform: uppercase;
    padding: 1em 2em;
    text-align: center;
    background-color: $primary-color-blog;
    text-decoration: none;
    color: $secondary-color;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    @include tr;

    @include hover {
        background-color: $secondary-color;
        color: $primary-color-blog;
        font-weight: 700;
        box-shadow: 0px 0px 10px 2px $primary-color-blog;
    }
}