@import url('https://fonts.googleapis.com/css?family=Lato:300,700&display=swap');

$body-ff: 'Lato', sans-serif;

$primary-color: #18b5dc;
$secondary-color: #fff;
$color-text: #282528;
$color-title: #3c3c3c;
$bg-color: $secondary-color;
$body-color: $color-text;
$bg-social-link: #5ecbe7;
$bg-section-staff-color: #f6f6f6;
